<html>
    <head>
        <title></title>
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td>
                        <label>Book Name:</label>
                        </td>
                        <td>
                    <input type="text">
                </td>
                </tr>
                <tr>
                    <td>
                        <label>Author Name:</label>
                    </td>
                    <td>
                <input type="text">
            </td>
            </tr>
            <tr>
                <td>
                    <label>Topic Name:</label>
                </td>
                <td>
                <input type="text">
            </td>
            </tr>
            </table>
        </form>
    </body>
</html>