<html>
    <head>
        <title></title>
    </head>
    <body>
        <h3>Select a Payment Method</h3>
        <table border="2">
            <tr>
                <td>
                    <input type="radio" name="paymentMode">
                    <option value="creditCard"/>
                </td>
                <td>
                    <h3>Credit Card</h3>
                    <label>Card Number:</label>
                    <input type="text"><br>
                    <label>Name on Card:</label>
                    <input type="text"><br>
                    <label>Expiry:</label>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="paymentMode">
                    <option value="debitCard"/>
                </td>
                <td>
                    <h3>Debit Card</h3>
                    <label>Card Number:</label>
                    <input type="text"><br>
                    <label>Name on Card:</label>
                    <input type="text"><br>
                    <label>Expiry:</label>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="paymentMode">
                    <option value="cod"/>
                </td>
                <td>
                    <h3>Cash on Delivery</h3>
                </td>
            </tr>
        </table>
    </body>
</html>